*{
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
    scroll-behavior: smooth;
  
    
}
body{
    margin: 0;
    padding: 30px;
    background-color:rgb(0, 128, 128);
    font-family: 'Teko', sans-serif;
   

    
  
}
h1{
    font-size: 3.5rem;
    text-align: center;
    color: green;
}

a{
    color:black;
    font-size: 0.8rem;
    text-decoration:none;
    font-family: 'Anton', sans-serif;
}

[class*="col-"]{

    float: left;
    padding: 0px;
}

/*for mobile*/
[class*="col-"]{
    width: 100px;
   
}

.navbar{
    background-color: green;
    padding: 3% 8%;
    text-align: center;
}

.navbar h1{
    color:white;
    margin: 0;
    padding-top: 0px;
    font-family: 'Anton', sans-serif;
   
    
}

.nav-menu{
    display: flex;
    text-decoration: column;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}
.nav-menu a{
    background-color:white;
    border-radius: 7px;
    margin: 10px 2px;
    padding: 2px;
   
}
.nav-menu a:hover{
    background-color:orangered;
}


.nav::after{
    content: '';
    display: table;
    clear: both;

}

.profile{
    background-color:green;
   padding-bottom: 10px;
}

.marq{
    
    background-color:#7fff00;
    color: black;
   
}

.img1{
    background-color: rgb(245, 198, 137);
height: 100%;

}

.img2{
    background-color: rgb(245, 198, 137);
    
 
}

.about{

    background-color:gold;
}
#goals{
    background-color: gold;
}
h4{
    color:black;
    text-align: left;
    padding: 15px;
}

h2{
    text-align: center;
    background-color: cyan;
    width: 100%;
   
    padding-bottom: 10px;
}


.bd{

    padding-left: 600px;
    
}


#fourth-section{
    background-color: white;
    padding: 2px;
    


}
.fourth-top{
	text-align: center;
	font-size: 30px;
	padding-top: 5px;
}
.fourth-content{

    background-color: gold;
    padding-top: 2px;
}

.fourth{
	max-width: 60%;
	float: left;
	text-align: center;
	padding-left: 50px;
    padding-right:73px;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: rgb(163, 103, 103);
}

.five{
	max-width: 60%;
	float: left;
	text-align: center;
	padding-left: 66px;
    padding-right:70px;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: rgb(163, 103, 103);
}



.sign-up-form{
    width: 400px;
    height: 600px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 5px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 5px;
}
.input-box{
    border-radius: 20px;
    padding: 2px;
    margin:10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;

}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-up-btn{
    background-color: #1c8adb;
}
.sign-up-btn:hover{
    color:red;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 5px;
    width: 70%;
}
p{

    text-align:center;
    font-size: ;
    padding-top: 10px;
   
    
}

.footer{

    background-color: white;
  
    padding-bottom: 30px;
    
    font-size: 10px;
}
    
b{

    color: green;
    font-size: 20px;
    padding-bottom: 30px;
}



#footer{
	background: white;
	color: rgb(184, 60, 60);
	text-align: center;
	padding-top: 20px;
}
.link{
    text-align: center;
    background-color: black;


}
.link h1{
	font-size: 40px;
    color: white;

}

.link ul a{
	padding-right: 10px;
	text-decoration: none;
	color: cornsilk;
}
.link ul a:hover{
	color: green;
}
.copyright{
	padding-top: 30px;
	padding-bottom: 20px;
	
}
.copyright a{
	text-decoration: none;
	color: green;
	
}


